$font-family: 'Lato', sans-serif;
$font-weight-regular: 400;
$font-weight-light: 300;

$color-input-text: #d98192;
$color-output-text: #ffffff;
$color-button-text: #212121;
$color-button-text-light: #ffffff;

$color-header: #212121;

$color-button-gradient1-start: #f7f7f7;
$color-button-gradient1-end: #f1f1f1;
$color-button-gradient2-start: #ffffff;
$color-button-gradient2-end: #f4f4f4;

$color-button-accent1: #9156e1;
$color-button-accent2: #8d52dd;
$color-button-accent3: #894ed9;
$color-button-accent4: #8547d9;

$color-button-accent-strong: #e62f89;
