@import '../../styles/variables';

.header {
  background-color: $color-header;
  padding: 2.4rem;
  min-height: 14rem;
  @media screen and (max-height: $bp-600) and (orientation: landscape) {
    padding: 1.6rem;
  }
  @media screen and (max-width: $bp-600) and (orientation: portrait) {
    padding: 1.6rem;
  }
}
