@import '../../styles/variables';

.keyboard {
  display: flex;
  flex-wrap: wrap;
  height: 46rem;
  @media screen and (max-height: $bp-600) and (orientation: landscape) {
    max-height: 47vh;
  }
  @media screen and (max-width: $bp-600) and (orientation: portrait) {
    max-height: 55vh;
  }
}
